@{
  Layout = "_Layout";
}

@using BestRestaurants.Models;
@model BestRestaurants.Models.Cuisine;

<h2>Cuisine Details</h2>
<hr />
<h4>Type: @Html.DisplayFor(model => model.Name)</h4>

@if (@Model.Restaurants.Count == 0)
{
  <p>No Restaurants Found</p>
}

@foreach (Restaurant restaurant in @Model.Restaurants)
{
  <h3> <a href="/Restaurants/Details/@restaurant.RestaurantId">@restaurant.Name</a></h3>
}

<p>@Html.ActionLink("Back to Cuisines", "Index")</p>
<p>@Html.ActionLink("Edit Cuisine", "Edit", new { id = Model.CuisineId })</p>
<p>@Html.ActionLink("Delete Cuisine", "Delete", new { id = Model.CuisineId })</p>
